:root {
  --ladrillo-oscuro:#050d14;           /* Color azul profundo */
  --blanco-editorial: #f4f4f4;          /* Texto principal sobre fondo oscuro */
  --fuente-editorial: 'IBM Plex Serif', serif;
}
